@charset "utf-8";


/* ========== main top header ========== */
.top-menu {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.top-menu-icon {
  display: flex; 
  justify-content: space-between;
}
.top-menu-icon ul {
  display: flex;
  margin-left: 2px;
}
.search-box {
  margin-top: 10px;
}
.top-menu-txt {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.top-menu-txt a {
  margin-top: 32px;
  color: #115740;
  z-index: 1;
}
.main-banner-01 {
  margin-top: -20px;
  width: 100%;
  height: 149px;
  background: url('/images/main-01.png') center center no-repeat;
  z-index: -1;
}

/* ========== nav ========== */
#top-btn {
  position: fixed;
  right: 18px;
  bottom: 100px;
  width: 45px;
  height: 45px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
  z-index: 999;
}
#top-btn img {
  margin-top: 9px;
}
nav ul {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  box-shadow: -2px 0 20px 0 rgba(0, 0, 0, 0.08);
  z-index: 999;
}
nav ul li a p {
  text-align: center;
  font-weight: 300;
  font-size: 11px;
  color: #737373;
}

/* ========== 좋아요, 북마크 ========== */
.hreat {
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 4px;
  right: 6px;
}
.hreat-on {background: url('/images/icon-hreat.svg') center center no-repeat;}
.hreat-off {background: url('/images/icon-hreat-wt.svg') center center no-repeat;}

.bookmark {
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 4px;
  right: 6px;
}
.bookmark-on {background: url('/images/icon-bookmark.svg') center center no-repeat;}
.bookmark-off {background: url('/images/icon-bookmark-wt.svg') center center no-repeat;}

/* ========== section 01 ========== */
section {
  margin-top: -26px;
  background: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
.art-01 {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.art-01-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.art-01-txt p {
  color: #343434;
}
.art-01-txt a {
  width: 122px;
  height: 32px;
  font-size: 13px;
  text-align: center;
  line-height: 31px;
  color: #46bb67;
  border: 1px solid #46bb67;
  border-radius: 6px;
}

/* 스와이퍼 */
.swiper-slide {width: 100%; height: 130px;}
.slide-01 {
  background: url('/images/main-02-01.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.slide-02 {
  background: url('/images/main-02-02.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.slide-03 {
  background: url('/images/main-02-01.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
/* 페이저 버튼 */
.swiper-pagination-bullet {transition:all 0.3s ease-in;}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  background-color: #115740;
  border-radius: 8px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
bottom: var(--swiper-pagination-bottom, 20px);
}

.swiper-pagination {
  margin-top: 100px;
}

/* ========== section 02 ========== */
.art-02 {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.art-02 ul {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.art-02 ul li a {
  width: 64px;
  /* height: 53px; */
  text-align: center;
}
.art-02 ul li a p {
  margin-top: 10px;
  font-size: 13px;
  color: #959595;
}

/* ========== section 03 ========== */
.art-03 {
  margin-top: 50px;
  padding-left: 20px;
}
.art-03-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.art-03-txt a {
  font-weight: 300;
  font-size: 13px;
  color: #a9a9ac;
}
.overflow {
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
}
.art-03-content {
  width: 584px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 24px;
}
.art-03-content p {
  margin-left: 10px;
  font-size: 13px;
  color: #959595;
}
.art-03-box {
  width: 280px;
  border: 1px solid #eee;
  border-radius: 8px;
}
.art-03-box-02 {
  margin-right: 20px;
}
.art-03-img {
  position: relative;
  height: 140px;
}

.art-03-img-01 {
  border-radius: 8px 8px 0 0;
  background: url('/images/main-03-01.jpg') center center no-repeat; 
  background-size: cover;
}
.art-03-img-02 {
  border-radius: 8px 8px 0 0;
  background: url('/images/main-03-02.jpg') center center no-repeat; 
  background-size: cover;
}
.art-03-content-title {
  margin-top: 16px;
  margin-bottom: 4px;
  margin-left: 10px;
  color: #343434;
}
.art-03-content-title img {
  margin-left: 6px;
}
.art-03-content-review {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.bold {
  margin-left: 6px;
  font-weight: 700; 
  color: #343434;
}

/* ========== section 04 ========== */
.art-04 {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.art-04-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.art-04-txt a {
  font-weight: 300;
  font-size: 13px;
  color: #a9a9ac;
}

.art-04-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
}
.art-04-box {
  width: 49%;
}
.art-04-img {
  position: relative;
  height: 210px;
  margin-bottom: 16px;
  border-radius: 8px;
}
.art-04-img-01 {background: url('/images/main-04-01.jpg') center center no-repeat;}
.art-04-img-02 {background: url('/images/main-04-02.jpg') center center no-repeat;}
.art-04-img-03 {background: url('/images/main-04-03.jpg') center center no-repeat;}
.art-04-img-04 {background: url('/images/main-04-04.jpg') center center no-repeat;}
.art-04-box > p {
  font-weight: 300;
  color: #959595;
}
.art-04-content-review {
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 16px;
}
.art-04-content-review p:first-child {
  font-weight: 500;
  color: #616163;
}
.art-04-content-review p:last-child {
  font-weight: 500;
  color: #ff796c;
}
.won {
  font-size: 13px;
  font-weight: 300;
  margin-left: 1px;
}

/* ========== section 05 ========== */
.art-05 {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.art-05-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.art-05-txt-sel {
  display: flex;
  align-items: center;
}
.art-05-txt a {
  font-weight: 300;
  font-size: 13px;
  color: #a9a9ac;
}
.art-05-box-01 {
  margin-top: 24px;
  border-bottom: 1px solid #eee;
}
.art-05-box-01 img {
  width: 100%;
}
.art-05-box-01 h4 {
  margin-top: 24px;
  margin-bottom: 16px;
}
.art-05-box-01 p {
  font-weight: 300;
  font-size: 13px;
  color: #616163;
}
.art-05-box-01 p:last-child {
  margin-top: 14px;
  margin-bottom: 20px;
  color: #959595;
}
.art-05-box-02 {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.art-05-box-02 h5 {
  font-weight: 400;
  font-size: 14px;
  color: #343434;
}
.art-05-box-02 p {
  margin-top: 14px;
  font-weight: 300;
  font-size: 13px;
  color: #959595;
}


/* ========== section 06 ========== */
.art-06 {
  margin-top: 50px;
  padding-left: 20px;
}
.art-06-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.art-06-txt a {
  font-weight: 300;
  font-size: 13px;
  color: #a9a9ac;
}
.art-06-content {
  width: 396px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 24px;
}
.art-06-box {
  width: 120px;
}
.art-06-box img {
  width: 100%;
}
.art-06-box h5 {
  margin-top: 12px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 300;
  font-size: 14px;
  color: #616163;
}
.art-06-box p {
  margin-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 300;
  font-size: 13px;
  color: #a9a9ac;
}
.art-06-box-03 {
  margin-right: 20px;
}

/* ========== section 07 ========== */
.art-07 {
  margin-top: 50px;
  padding-left: 20px;
}
.art-07-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.art-07-txt a {
  font-weight: 300;
  font-size: 13px;
  color: #a9a9ac;
}
.art-07-content {
  width: 584px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 24px;
}
.art-07-box {
  width: 280px;
  padding-bottom: 16px;
  border: 1px solid #eee;
  border-radius: 8px;
}
.art-07-box-02 {
  margin-right: 20px;
}
.art-07-img {
  position: relative;
  height: 140px;
}
.team-time {
  position: absolute;
  top: 14px;
  left: 15px;
}
.team-time > div {
  margin-left: 8px;
  padding: 4px 10px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #959595;
  border-radius: 15px;
}
.team-time > div > p {
  margin-left: 3px;
  font-size: 11px;
  font-weight: 300;
  color: #fff;
}
.art-07-img-01 {
  border-radius: 8px 8px 0 0;
  background: url('/images/main-07-01.jpg') center center no-repeat; 
  background-size: cover;
}
.art-07-img-02 {
  border-radius: 8px 8px 0 0;
  background: url('/images/main-07-02.jpg') center center no-repeat; 
  background-size: cover;
}
.art-07-content-title {
  margin-top: 16px;
  margin-bottom: 4px;
  margin-left: 10px;
  color: #343434;
}
.art-07-content-title div {
  margin-left: 10px;
}
.art-07-content-title div h4 {
  font-weight: 700;
  color: #343434;
}
.art-07-content-title div p {
  margin-top: 6px;
  font-size: 11px;
  font-weight: 300;
  color: #959595;
}

/* ========== section 08 ========== */
.art-08 {
  margin-top: 50px;
  padding-left: 20px;
}
.art-08-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.art-08-txt a {
  font-weight: 300;
  font-size: 13px;
  color: #a9a9ac;
}
.art-08-content {
  width: 496px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 24px;
}
.art-08-box {
  position: relative;
  width: 240px;
  height: 340px;
}
.art-08-box-01 {background: url('/images/main-08-01.jpg') center center no-repeat;}
.art-08-box-02 {background: url('/images/main-08-02.jpg') center center no-repeat;}

.art-08-box > div {
  position: absolute;
  padding-left: 14px;
  bottom: 0;
  width: 100%;
  height: 86px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 8px 8px;
}
.art-08-box > div > ul {
  margin-left: 15px;
}
.art-08-box > div > ul > li {
  display: flex;
  align-items: center;
}
.art-08-box > div > ul > li:nth-child(2) {margin: 4px 0;}
.art-08-box > div > ul > li > p {
  margin-left: 3px;
  font-weight: 300;
  font-size: 11px;
  color: #f4f5f6;
}

/* ========== section 09 ========== */
.art-09 {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}
.art-09-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.art-09-txt a {
  font-weight: 300;
  font-size: 13px;
  color: #a9a9ac;
}
.art-09-content-01 {
  position: relative;
  margin-top: 24px;
  width: 100%;
  height: 240px;
  background: url('/images/main-09.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.art-09-content-01 p {
  position: absolute;
  left: 20px;
  bottom: 94px;
  font-size: 13px;
  font-weight: 300;
  color: #eee;
}
.art-09-content-01 h3 {
  position: absolute;
  left: 20px;
  bottom: 30px;
  color: #f8f9f9;
}
.art-09-content-02 {margin-top: 24px;}
.art-09-content-03 {margin-top: 16px;}
.art-09-content-02 div, .art-09-content-03 div {margin-left: 20px;}
.art-09-content-02 div p, .art-09-content-03 div p {
  font-size: 13px;
  font-weight: 300;
  color: #a9a9ac;
}
.art-09-content-02 div h4, .art-09-content-03 div h4 {
  margin-top: 4px;
  color: #737373;
}

/* ========== footer ========== */
footer {
  padding-top: 40px;
  padding-bottom: 146px;
  padding-left: 20px;
  padding-right: 20px;
}
.ft-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}
.ft-top h2 {color: #737373;}
.ft-top div {margin-top: 20px;}
.ft-top div p {
  font-size: 13px;
  font-weight: 400;
}
.ft-top div p:first-child {color: #737373;}
.ft-top div p:last-child {
  margin-left: 14px;
  color: #959595;
}
.ft-info {margin-top: 20px;}
.ft-info-01 p {
  font-size: 16px;
  font-weight: 700;
  color: #959595;
}
.ft-info-01 p:last-child {
  margin-left: 14px;
  font-weight: 500;
}
.ft-info-02 {margin-top: 20px;}
.ft-info-02 p {
  font-weight: 400;
  font-size: 11px;
  color: #959595;
}
.ft-info-02 p:first-child {margin-bottom: 4px;}
.ft-info-03 {margin-top: 20px;}
.ft-info-03 a {
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 400;
  color: #737373;
  background: #eee;
  border-radius: 6px;
}
.ft-info-03 a:last-child {margin-left: 8px;}
.ft-info > p {
  margin-top: 40px;
  font-weight: 300;
  font-size: 11px;
  color: #a9a9ac;
}
footer ul li {
  margin-top: 14px;
  margin-right: 8px;
}