@charset "utf-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* font-weight: 100/300/400/500/700 */

* {margin:0; padding:0; box-sizing:border-box;}

body {
  background: #f8f9f9;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
}
h2 {font-size: 24px;}
h3, h4, h5 {font-weight: 500;}
h3 {font-size: 20px;}
h4 {font-size: 17px;}
h5 {font-size: 15px;}
p {
  font-weight: 400;
  font-size: 14px;
  color: #616163;
}
a {
  display: block; 
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  text-decoration: none;
}
ul,ol {list-style:none;}
input,textarea,button,label {
  width: 100%;
  display:block; 
  outline:0; 
  background:none; 
  border:0;
}
.search-box {
  display: flex;
  width: 100%;
  height: 46px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
}
.search-box img {
  margin-left: 8px;
  width: 28px;
}
.search-box input {
  margin-left: 8px;
}
input::placeholder {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: #a9a9ac;
}
.event-select {
  margin-left: 16px;
  width: 96px;
  padding: 6px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 13px;
  color: #616163;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: white;
  appearance: none;
  background: url('/images/icon-select.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.btn {
  height: 140px;
  border-radius: 6px;
}
.btn-gray {
  background: #737373;
  color: #fff;
}
.btn-primary {
  background: #115740;
  color: #fff;
}
.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}